body {
  margin: 0px;
  text-align: center;
}

textarea {
  width: 80%;
  height: vh;
  display: block;
  margin: 1rem;
  padding: 5rem;
  justify-items: center;
}

#output {
  border: 1px solid black;
  height: 10vh;
  width: 80%;
  margin: 1rem;
  padding: 1rem;
}

#btn-translate {
  background-color: yellow;
  justify-content: center;
  font-size: larger;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: auto;
}
